body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0097A7 50%, #E0F7FA 50%);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Top Title */
.hospital-title {
    width: 102%;
    text-align: center;
    margin: 30px auto;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    z-index: 10;
}

    .hospital-title .hos {
        color: #0097A7; /* Teal */
        display: inline-block;
    }

    .hospital-title .pital {
        color: #212121; /* Dark grey/black */
        display: inline-block;
    }

    .hospital-title .login-text {
        font-size: 26px;
        font-weight: normal;
        color: #9e9e9e; /* Light grey */
        margin-left: 20px;
    }

/* Login container */
.login-container {
    background: #fff;
    width: 900px;
    margin: auto;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.login-form {
    width: 50%;
    padding: 40px;
}

    .login-form h2 {
        color: #006064;
        font-weight: bold;
    }

    .login-form .btn {
        background: #0097A7;
        color: white;
    }

.login-side {
    width: 50%;
    background: #E0F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #B2EBF2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #006064;
}
