


@media print {
    body * {
        visibility: hidden; /* Sab hide karo */
    }

    #printArea, #printArea * {
        visibility: visible; /* Sirf printArea dikhayega */
    }

    #printArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .no-print {
        display: none !important; /* Buttons hide ho jaaye */
    }

    /* Optional: borders & spacing maintain karne ke liye */
    .card {
        -webkit-print-color-adjust: exact; /* colors exact print ho */
    }
}

.custom-padding-table td,
.custom-padding-table th {
    padding: 20px !important;
    vertical-align: middle;
}


/* Sidebar link hover */
#sidebar .nav-link:hover {
    background-color: #ffc107 !important; /* Bootstrap warning color */
    color: #000 !important; /* Override text-white or text-warning */
    border-radius: 5px;
    transition: all 0.3s;
}

/* Dropdown items hover */
#sidebar .collapse .nav-link:hover {
    background-color: #fd7e14 !important; /* slightly darker orange */
    color: #fff !important;
}



